body[data-netlifycms-theme] {
  background-color: var(--theme-color-base);
  color: var(--theme-color-text);

  /* Everything */
  & * {
    color: inherit;
  }
  
  /* Basic text content */
  & h1, & h2, & h3, & h4, & h5, & h6, & p {
    color: var(--theme-color-text);
  }

  /* Every card */
  & *[class*="-card"],
  & *[class*="ListCard"]:not([class*="ListCardTitle"]),
  & *[class*="GridCard"] {
    background-color: var(--theme-color-mantle);
  }

  & *[class*="toolbarSection"] {
    border-color: var(--theme-color-surface1);
  }

  & *[class*="CollectionTopContainer-card"],
  & *[class*="ToolbarContainer"],
  & *[class*="AppHeader"] {
    box-shadow: none;
    background-color: var(--theme-color-base);
  }

  /* The controls labels */
  & *[class*="FieldLabel"] {
    background-color: var(--theme-color-surface0);

    &::before { display: none; }
    &::after { display: none; }
  }

  /* Controls that are not inputs or labels */
  & *[class*="ControlContainer"] > :not(*[class*="FieldLabel"]) {
    background-color: var(--theme-color-surface0);
    border-color: var(--theme-color-surface1);
  }
  
  /* Specific cards like collection items */
  & *[class*="ListCard"], & *[class*="GridCard"] {

    & *[class*="CardHeading"], & *[class*="CardTitle"] {
      display: flex;

      &::before {
        display: block;
        content: '';
        font-size: 24px;
        flex-shrink: 0;

        @apply i-carbon-document mr-2;
      }
    }

    /* the shadow */
    & *[class*="CardBody"]::after {
      box-shadow: none;
    }

    & *[class*="CardBody"]:last-child {
      height: 100%;
    }

    &:hover {
      background-color: var(--theme-color-mantle);
    }

    & > a {
      background-color: transparent;
    }

    & > a:hover {
      background-color: transparent;
    }
  }

  /* grid card */
  & *[class*="GridCard"] {
    height: unset;
    display: flex;
    flex-direction: column;

    & > a {
      flex-grow: 1;
    }
  }
  
  /* dropdown button in header */
  & *[class*="AppHeaderQuickNewButton"] {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-text-variant0);
  }

  /* dropdown button in edit page header */
  & *[class*="StyledDropdownButton"][class*="PublishButton"] {
    background-color: var(--theme-color-secondary);
    color: var(--theme-color-text-variant0);
  }

  & *[class*="DeleteButton-button"]:not(:disabled) {
    background-color: var(--theme-color-red);
    color: var(--theme-color-text-variant0);
  }

  /* Dropdown window */
  & *[class*="dropdownList"] {
    background-color: var(--theme-color-mantle);
  }

  & *[class*="IconWrapper"] {
    color: inherit !important;
  }

  /* dropdown item */
  & *[class*="dropdownItem"] {
    border-color: var(--theme-color-crust);

    &:hover {
      background-color: var(--theme-color-surface0);
    }
  }

  /* suggestions window */
  & *[class*="Suggestions"] {
    background-color: var(--theme-color-mantle);
    border: unset;

    & *[class*="SuggestionItem"] {

      &:hover {
        background-color: var(--theme-color-active);
        color: var(--theme-color-text-variant0);
      }
    }
  }
  
  /* back button in edit page */
  & [class*="ToolbarSectionBackLink"]:hover {
    background-color: var(--theme-color-surface0);
  }

  & [class*="FileWidgetButton-button"] {
    background-color: var(--theme-color-surface1);
  }

  & [class*="FileWidgetButtonRemove"] {
    background-color: var(--theme-color-red);
  }

  /* header */
  & header[class*="AppHeader"] {
    background-color: var(--theme-color-base);
  }

  /* Active header buttons + hover + focus + active */
  & .header-link-active,
  & *[class*="AppHeaderButton"]:hover,
  & *[class*="AppHeaderButton"]:active,
  & *[class*="AppHeaderButton"]:focus {
    color: var(--theme-color-active);
  }

  /* Every default button */
  & [class*="button-default-gray"],
  & [class*="AddButton-button-widget"],
  & [class*="button-gray"] {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-text-variant0);
    @apply transition-colors;
    
    &:hover {
      background-color: var(--theme-color-primary-accent);
    }
  }

  & *[class*="PublishedButton"],
  & *[class*="PublishedToolbarButton"] {
    background-color: var(--theme-color-green);
    color: var(--theme-color-text-variant0);
  }

  & *[class*="ToolbarButton"][class*="DeleteButton"] {
    background-color: var(--theme-color-red);
    color: var(--theme-color-text-variant0)
  }

  & [class*="CloseButton"] {
    background-color: var(--theme-color-surface0);
  }

  /* disabled button */
  & [class*="button-default"]:disabled {
    background-color: var(--theme-color-surface0);
    color: var(--theme-color-text);
    cursor: not-allowed;
  }

  /* Buttons to add new items to collections */
  & [class*="CollectionTopNewButton"] {
    display: flex;
    align-items: center;

    &::before {
      display: block;
      content: '';
      font-size: 24px;
      flex-shrink: 0;

      @apply i-carbon-add mr-1;
    }
  }

  /* Sidebar Active and hover items */
  & [class*="SidebarNavLink"] {
    &.sidebar-active, &:hover, &:active {
      color: var(--theme-color-text-variant0);
      background-color: var(--theme-color-active);
      border-left-color: var(--theme-color-active-accent);
    }
  }

  /* inputs + MD editor */
  & input,
  & .cms-editor-visual > *[class*="-Editor"] > div:last-child {
    background-color: var(--theme-color-surface0);
  }

  /* edit page */
  & *[class*="ControlPaneContainer"] {

    /* inputs + MD editor */
    & input,
    & .cms-editor-visual > *[class*="-Editor"] > div:last-child {
      border-color: var(--theme-color-surface1);
    }

    & *[class*="TopBarContainer"] {
      background-color: var(--theme-color-surface0);
    }

    & *[class*="listControlItem"] > div:first-child {
      background-color: var(--theme-color-surface1);
    }

    & *[class*="listControlItem"] > div {
      background-color: var(--theme-color-surface0);
    }
  }

  & *[class*="cardTopHeading"] {
    background-color: unset;
  }

  & *[class*="StyledModal"] {
    background-color: var(--theme-color-crust);

    & *[class*="-Card"] {
      border-color: var(--theme-color-surface0);
    }
  }
}
