@import './base.css';

:root {
  --theme-color-primary: #5e81ac; 
  --theme-color-secondary: #8fbcbb;
  --theme-color-active: #88c0d0;
  
  --theme-color-primary-accent: #6f8bad; 
  --theme-color-secondary-accent: hsl(107, 29%, 78%);
  --theme-color-active-accent: #a1c7d1;

  --theme-color-text: #4c566a;
  --theme-color-text-variant0: #e5e9f0;
  --theme-color-base: #eceff4;

  --theme-color-surface0: #e5e9f0;
  --theme-color-surface1: #d8dee9;
  --theme-color-surface2: #CDD3DD;

  --theme-color-overlay0: #C2C8D2;
  --theme-color-overlay1:  #B8BDC6;
  --theme-color-overlay2: #ADB2BA;

  --theme-color-mantle: #E0E3E8;
  --theme-color-crust: #D4D7DC;

  --theme-color-green: #a3be8c;
  --theme-color-red: #bf616a;
}